# Data cleaning for the dataset used for the project:

In [1]:
import pandas as pd
import csv

In [3]:
pwd

u'/Users/Ritu'

In [4]:
cd Desktop

/Users/Ritu/Desktop

In [5]:
df = pd.read_csv('airline-safety.csv')

In [6]:
df.head()

,Airline (group),Fatalities Percent change,Number of Records,Airline,Avail Seat Km Per Week,Fatal Accidents 00 14,Fatal Accidents 85 99,Fatalities 00 14,Fatalities 85 99,Incidents 00 14,Incidents 85 99
0,Aer Lingus,NaN,1,Aer Lingus,320906734,0,0,0,0,0,2
1,Aeroflot*,-31.25,1,Aeroflot*,1197672318,1,14,88,128,6,76
2,Aerolineas Argentinas,NaN,1,Aerolineas Argentinas,385803648,0,0,0,0,1,6
3,Aeromexico*,-100.00,1,Aeromexico*,596871813,0,1,0,64,5,3
4,consistent airlines,NaN,1,Air Canada,1865253802,0,0,0,0,2,2

In [7]:
df  = df[['Airline', 'Fatal Accidents 00 14','Fatal Accidents 85 99', 'Fatalities 00 14', 'Fatalities 85 99', 'Incidents 00 14' ,'Incidents 85 99' ]]

In [8]:
df.head()

,Airline,Fatal Accidents 00 14,Fatal Accidents 85 99,Fatalities 00 14,Fatalities 85 99,Incidents 00 14,Incidents 85 99
0,Aer Lingus,0,0,0,0,0,2
1,Aeroflot*,1,14,88,128,6,76
2,Aerolineas Argentinas,0,0,0,0,1,6
3,Aeromexico*,0,1,0,64,5,3
4,Air Canada,0,0,0,0,2,2

In [9]:
df.to_csv('airline-safety.csv')